body { 
  margin: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070721;
  padding: 0px 40px 0px 40px;
  height: 80px;
  font-weight: 500;
}

.header-menu > a {
  padding: 8px;
  text-transform: uppercase;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.header-menu > a:hover {
  background-color: #bf0074;
  color: #080821;
}

.hero-section {
  color: azure;
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 80px);
  background-image: url("../assets/bg-code.jpg");
  background-size: cover;
}

.cta-text {
  display: flex;
  flex-direction: column;
  padding: 120px;
  max-width: 50vw;
  justify-content: center;
}

.cta-text > h1 {
  margin: 20px;
  font-size: 64px;
}

.cta-text > p {
  border-left: 4px solid #ff0074;
  margin: 20px;
  padding-left: 12px;
  font-size: 20px;
}

.cta-text > a {
  border-radius: 4px;
  text-align: center;
  width: 260px;
  background-color: #ff0074;
  border-left: 4px solid #ff0074;
  margin: 20px;
  padding: 20px;
  font-size: 20px;

  
  color: white;
  text-decoration: none;
}

.services-section {
  background-color: #080821;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.services-title {
  display: flex;
  flex-direction: row;
}

.services-section h2 {
  font-size: 48px;
  text-align: center;
  margin: 32px;
}

.rule-start {
  margin: auto;
  flex-grow: 4;
}

.rule-end {
  margin: auto;
  flex-grow: 0.5;
}

.services-list {
  margin: 0 380px 0 380px;
}

.services-item {
  display: flex;
  flex-direction: row;
  margin: 140px 0 140px 0;
}

.services-item-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin: 140px 0 140px 0;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  flex-grow: 1;
}

.image-container > img {
  filter: invert(1);
}

.item-container {
  width: min-content;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.services-item-title {
  font-size: 40px;
  font-weight: 800;
  margin: 28px 0 28px 0;
}

.services-item-description {
  font-size: 18px;
}

.how-section {
  background-color: #0b0b2b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.how-title {
  display: flex;
  flex-direction: row-reverse;
}

.how-section h2 {
  font-size: 48px;
  text-align: center;
  margin: 32px;
}

.how-steps-list {
  margin: 0 240px 0 240px;
}

.how-steps-item {
  display: flex;
  flex-direction: row;
  margin: 80px 0 0px 0;
}

.how-item-title {
  font-size: 40px;
  font-weight: 800;
  margin: 20px 0 20px 0;
}

.how-item-description {
  font-size: 18px;
}